  body {
      background-color: #1f2937;
  }

  #holder {
      background-color: #f9fafb;
      border-radius: 12px;
  }

  footer a {
      color: #3b82f6;
  }

  #output {
      width: 100%;
      min-height: 600px;
  }