.cdx-3d-media {
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.cdx-3d-media-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 204, .48);
    font-size: 14.9px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(18, 30, 57, .04);
    box-shadow: 0 2px 2px #121e390a;
    color: #707684;
    text-align: center;
    cursor: pointer;
    gap: 6px;
}


.cdx-3d-media-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
    position: relative;
    background-color: var(--bg-color, #cdd1e0);
    background-position: center center;
}


.cdx-3d-media-loader::after {
    content: "";
    position: absolute;
    z-index: 3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--bg-color, #cdd1e0);
    border-top-color: var(--front-color, #388ae5);
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
    animation: image-preloader-spin 2s infinite cubic-bezier(0.62, 0.06, 0.18, 0.76);
    box-sizing: border-box;
    -webkit-animation: image-preloader-spin 2s infinite cubic-bezier(0.62, 0.06, 0.18, 0.76);
}

@keyframes image-preloader-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cdx-3d-media-caption {
    border: 1px solid rgba(201, 201, 204, .48);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, .06);
    box-shadow: inset 0 1px 2px #232c480f;
    border-radius: 3px;
    padding: 10px 12px;
    outline: none;
    width: 100%;
    min-height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cdx-3d-media-caption:empty::after {
    display: none;
}

.cdx-3d-media-caption[contenteditable="true"]:empty::before {
    content: attr(data-placeholder);
    color: #a9abb4;
    pointer-events: none;
    display: block;
}

a.cdx-3d-media-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(201, 201, 204, .48);
    background: hsla(0, 0%, 100%, .8);
    -webkit-box-shadow: 0 2px 2px 0 rgba(18, 30, 57, .04);
    box-shadow: 0 2px 2px #121e390a;
    color: transparent;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 10px;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}